<div id="content-manager" class="col-xs-12 col-md-12">
    <a href="/admin/customers/add_new" class="btn btn-success">New Customer</a>
    <table class="table table-striped table-bordered table-condensed" id="customer-table-list">
        <thead>
            <tr>
                <th>Title</th>
                <th class="col-md-3 col-xs-1">Name</th>
                <th class="col-md-3 col-xs-3">E-Mail</th>
                <th class="col-md-1 col-xs-1">Phone</th>
                <th class="col-md-3 col-xs-3">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr data-id="{{_id}}" data-order="{{@index}}">
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>
                    <a href="/admin/customers/{{_id}}/destroy" class="btn btn-danger" onclick="return confirm('You sure you want to remove this item?')"><i class="fa fa-trash-o"></i> Delete</a>
                    <a href="/admin/customers/{{_id}}" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>

</script>