<div class="body-content">
    <br>
    <div class="col-xs-12 col-md-6">
        <h1>Info</h1>
        <p>{{businessName}}</p>
        <p>{{address}}</p>
        <p><a href="tel:{{phone}}">{{phoneFormat}}</a></p>
        <span>Hours:</span>
        <ul>
            <li>Monday: {{#if mondayIsClosed}}Closed {{else}} {{hoursMondayOpen}} - {{hoursMondayClose}} {{/if}}</li>
            <li>Tuesday: {{#if tuesdayIsClosed}}Closed {{else}} {{hoursTuesdayOpen}} - {{hoursTuesdayClose}} {{/if}}</li>
            <li>Wednesday: {{#if wednesdayIsClosed}}Closed {{else}} {{hoursWednesdayOpen}} - {{hoursWednesdayClose}} {{/if}}</li>
            <li>Thursday: {{#if thursdayIsClosed}}Closed {{else}} {{hoursThursdayOpen}} - {{hoursThursdayClose}} {{/if}}</li>
            <li>Friday: {{#if fridayIsClosed}}Closed {{else}} {{hoursFridayOpen}} - {{hoursFridayClose}} {{/if}}</li>
            <li>Saturday: {{#if saturdayisClosed}}Closed {{else}} {{hoursSaturdayOpen}} - {{hoursSaturdayClose}} {{/if}}</li>
            <li>Sunday: {{#if sundayisClosed}}Closed {{else}} {{hoursSundayOpen}} - {{hoursSundayClose}} {{/if}}</li>
        </ul>
        {{#if showMap}}
        <div id="map-canvas" style="height: 300px"></div>
        {{/if}}
    </div>
    <form class="col-xs-12 col-md-6" id="form">
        <h1>Online booking</h1>
        <label>Name<span style="color:#ff0000;">*</span>:</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Name" id="form-title" required>
        <br>
        <label>Date<span style="color:#ff0000;">*</span>:</label>
        <input type="text" class="form-control" id="form-date" name="date" placeholder="Enter Date" required>
        <br>
        <label>Time<span style="color:#ff0000;">*</span>:</label>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <select name="time" id="form-time" class="form-control" required>
                    
                </select>
            </div>
        </div>
        <br>
        {{#if showServices}}
        <label>Service<span style="color:#ff0000;">*</span>:</label>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <select name="service" id="form-service" class="form-control" required>
                    <option disabled selected value="">Select Service</option>
                    {{#each services}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <br>
        {{/if}}
        <label>E-mail<span style="color:#ff0000;">*</span>:</label>
        <input type="email" class="form-control" id="form-email" name="email" placeholder="Enter E-mail" required>
        <br>
        {{#if showPhone}}
        <label>Phone<span style="color:#ff0000;">*</span>:</label>
        <input type="tel" class="form-control" id="form-phone" name="phone" placeholder="Enter Phone" required>
        <br>
        {{/if}}
        {{#if showRequests}}
        <label>Special Requests:</label>
        <textarea class="form-control" id="form-requests" rows="5" cols="10" name="request" id="update-content"></textarea>
        <br>
        {{/if}}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <button type="submit" class="btn btn-success">Create Appointment</button>
                <div id="message"></div>
            </div>
        </div>
    </form>
</div>