<div class="admin-body">
    <div class="row">
        <h2>Edit Appointment</h2>
    </div>

    <div class="page-module col col-12">
        <form method="post" action="/admin/calendar-item/{{calendar._id}}" enctype="multipart/form-data" role="form">
            <label>Name<span style="color:#ff0000;">*</span>:</label>
            <input type="text" class="form-control" name="title" value="{{calendar.title}}" required>
            <label>Date<span style="color:#ff0000;">*</span>:</label>
            <input type="text" class="form-control" id="datepicker" name="date" value="{{date}}" required>
            <label>Time<span style="color:#ff0000;">*</span>:</label>
            <div class="row">
                <select name="time" id="posttype" class="form-control" required>
                    <option disabled selected value="">Select Time</option>
                    <option {{#equalsTo calendar.time "10"}}selected{{/equalsTo}} value="10">10:00am</option>
                    <option {{#equalsTo calendar.time "11"}}selected{{/equalsTo}} value="11">11:00am</option>
                    <option {{#equalsTo calendar.time "12"}}selected{{/equalsTo}} value="12">12:00pm</option>
                    <option {{#equalsTo calendar.time "13"}}selected{{/equalsTo}} value="13">1:00pm</option>
                    <option {{#equalsTo calendar.time "14"}}selected{{/equalsTo}} value="14">2:00pm</option>
                    <option {{#equalsTo calendar.time "15"}}selected{{/equalsTo}} value="15">3:00pm</option>
                    <option {{#equalsTo calendar.time "16"}}selected{{/equalsTo}} value="16">4:00pm</option>
                    <option {{#equalsTo calendar.time "17"}}selected{{/equalsTo}} value="17">5:00pm</option>
                    <option {{#equalsTo calendar.time "18"}}selected{{/equalsTo}} value="18">6:00pm</option>
                    <option {{#equalsTo calendar.time "19"}}selected{{/equalsTo}} value="19">7:00pm</option>
                </select>
            </div>
            <label>Service<span style="color:#ff0000;">*</span>:</label>
            <div class="row">
                <select name="service" id="posttype" class="form-control" required>
                    <option disabled selected value="">Select Service</option>
                    {{#each services}}
                    <option {{#equalsTo ../calendar.service this}}selected{{/equalsTo}} value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <label>E-mail<span style="color:#ff0000;">*</span>:</label>
            <input type="email" class="form-control" name="email" value="{{calendar.email}}" required>
            <label>Phone<span style="color:#ff0000;">*</span>:</label>
            <input type="tel" class="form-control" name="phone" value="{{calendar.phone}}" required>
            <label>Special Requests:</label>
            <textarea class="form-control" rows="5" cols="100" name="request" id="update-content">{{calendar.request}}</textarea>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <button type="submit" class="btn btn-success btn-large">Update</button>
                    <button class="btn btn-danger btn-large"><a href="/admin/calendar-item/{{calendar._id}}/destroy">Delete</a></button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
   $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>