<style type="text/css">
.bootstrap-tagsinput {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #333;
    box-shadow: none;
    min-height: 5em;
    width: 100%;
}

.bootstrap-tagsinput input {
    margin-top: 0.5em;
}

.label {
    line-height: 2 !important;
}
.label-info {
    background-color: #5bc0de;
}

.bootstrap-switch.bootstrap-switch-small {
    min-width: 67px;
}

.bootstrap-switch {
    float: right;
}
</style>

<section class="admin-body">
    <div class="row">
        <h2>Settings</h2>
    </div>
    
    <div class="row col col-14 page-module">
        <form method="post" action="/admin/settings/{{user._id}}" enctype="multipart/form-data" role="form">
            <label>Business Name:</label>
            <input type="text" class="form-control" name="name" value="{{user.settings.businessName}}" required>
            <br>
            <label>Address:</label>
            <input type="text" class="form-control" name="address" value="{{user.settings.address}}" required>
            <br>
            <label>Phone:</label>
            <input type="tel" class="form-control" name="phone" value="{{user.settings.phone}}" required>
            <br>
            <label>Hours:</label>
            <div class="settings-hours-container">
                <div class="settings-hour">
                    <div class="hours-day">Monday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.monday.open}}" name="mondayOpen">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.monday.open}}" name="mondayOpenMinutes">
                        <select name="mondayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.monday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.monday.close}}" name="mondayClose">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.monday.close}}" name="mondayCloseMinutes">
                        <select name="mondayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.monday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedMonday" {{#contains user.settings.closed "monday"}}checked{{/contains}}></div>
                </div>
                <div class="settings-hour">
                    <div class="hours-day">Tuesday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.tuesday.open}}" name="tuesdayOpen">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.tuesday.open}}" name="tuesdayOpenMinutes">
                        <select name="tuesdayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.tuesday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.tuesday.close}}" name="tuesdayClose">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.tuesday.close}}" name="tuesdayCloseMinutes">
                        <select name="tuesdayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.tuesday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedTuesday" {{#contains user.settings.closed "tuesday"}}checked{{/contains}}></div>
                </div>
                <div class="settings-hour">
                    <div class="hours-day">Wednesday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.wednesday.open}}" name="wednesdayOpen">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.wednesday.open}}" name="wednesdayOpenMinutes">
                        <select name="wednesdayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.wednesday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.wednesday.close}}" name="wednesdayClose">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.wednesday.close}}" name="wednesdayCloseMinutes">
                        <select name="wednesdayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.wednesday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedWednesday" {{#contains user.settings.closed "wednesday"}}checked{{/contains}}></div>
                </div>
                <div class="settings-hour">
                    <div class="hours-day">Thursday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.thursday.open}}" name="thursdayOpen">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.thursday.open}}" name="thursdayOpenMinutes">
                        <select name="thursdayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.thursday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.thursday.close}}" name="thursdayClose">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.thursday.close}}" name="thursdayCloseMinutes">
                        <select name="thursdayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.thursday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedThursday" {{#contains user.settings.closed "thursday"}}checked{{/contains}}></div>
                </div>
                <div class="settings-hour">
                    <div class="hours-day">Friday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.friday.open}}" name="fridayOpen">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.friday.open}}" name="fridayOpenMinutes">
                        <select name="fridayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.friday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.friday.close}}" name="fridayClose">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.friday.close}}" name="fridayCloseMinutes">
                        <select name="fridayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.friday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedFriday" {{#contains user.settings.closed "friday"}}checked{{/contains}}></div>
                </div>
                <div class="settings-hour">
                    <div class="hours-day">Saturday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.saturday.open}}" name="saturdayOpen">:<input class="form-number" type="number" min="0" max="59" maxlength="2" value="{{getMinutes hours.saturday.open}}" name="saturdayOpenMinutes">
                        <select name="saturdayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.saturday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.saturday.close}}" name="saturdayClose">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.saturday.close}}" name="saturdayCloseMinutes">
                        <select name="saturdayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.saturday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedSaturday" {{#contains user.settings.closed "saturday"}}checked{{/contains}}></div>
                </div class="hours-inputs">
                <div class="settings-hour">
                    <div class="hours-day">Sunday:</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.sunday.open}}" name="sundayOpen">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.sunday.open}}" name="sundayOpenMinutes">
                        <select name="sundayOpenAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.sunday.open}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-to">to</div>
                    <div class="hours-inputs">
                        <input class="form-number" type="number" maxlength="2" min="1" max="12" value="{{translateHour hours.sunday.close}}" name="sundayClose">:<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes hours.sunday.close}}" name="sundayCloseMinutes">
                        <select name="sundayCloseAmPm">
                            <option value="am">AM</option>
                            <option value="pm"{{#checkAmPm hours.sunday.close}}selected{{/checkAmPm}}>PM</option>
                        </select>
                    </div>
                    <div class="hours-closed">Closed:<input type="checkbox" name="closedSunday" {{#contains user.settings.closed "sunday"}}checked{{/contains}}></div>
                </div>
            </div>
            <label>Appointment Increment:</label>
            <div class="settings-hours-container">
                <div class="settings-hour">
                    <div class="hours-inputs">
                        <input class="form-number" type="number" minlength="2" maxlength="2" min="0" max="12" value="{{translateHour user.settings.appointmentIncrement}}" name="appointmentIncrementHours">hour(s)<input class="form-number" type="number" maxlength="2" min="0" max="59" value="{{getMinutes user.settings.appointmentIncrement}}" name="appointmentIncrementMinutes">minute(s)
                    </div>
                </div>
            </div>
            <label>Services (Hit "Enter" after each entry):</label>
            <input type="text" class="form-control" data-role="tagsinput" name="services" value="{{user.settings.services}}"/>
            <div class="settings-modules">
                <label>Modules:</label>
                <div>
                    <div>
                        <div>
                            <span>Show Available Services</span>
                            <input type="checkbox" name="showServices" class="bootstrap-switch" data-size="small" data-on-color="success" {{#if user.settings.showServices}}checked{{/if}}>
                        </div>
                        <br>
                        <div>
                            <span>Ask For Phone</span>
                            <input type="checkbox" name="showPhone" class="bootstrap-switch" data-size="small" data-on-color="success" {{#if user.settings.showPhone}}checked{{/if}}>
                        </div>
                        <br>
                        <div>
                            <span>Show Requests</span>
                            <input type="checkbox" name="showRequests" class="bootstrap-switch" data-size="small" data-on-color="success" {{#if user.settings.showRequests}}checked{{/if}}>
                        </div>
                        <br>
                        <div>
                            <span>Show Business Location</span>
                            <input type="checkbox" name="showMap" class="bootstrap-switch" data-size="small" data-on-color="success" {{#if user.settings.showMap}}checked{{/if}}>
                        </div>
                        <br>
                        <div>
                            <span>Show Header Image (Coming Soon)</span>
                            <input type="checkbox" name="showHeader" class="bootstrap-switch" data-size="small" data-on-color="success" disabled>
                        </div>
                        <br>
                        <div>
                            <span>Show Logo (Coming Soon)</span>
                            <input type="checkbox" name="showServices" class="bootstrap-switch" data-size="small" data-on-color="success" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-success btn-large">Update</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
$('.bootstrap-switch').bootstrapSwitch();
$('.hours-closed').each(function() {
    var $this = $(this);

    if ($this.find('input :checkbox:checked').length > 0) {
        console.log('hey');
    }
});
</script>